<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="returnTransaction">
            <h2><span jhiTranslate="jhiptokomajuApp.returnTransaction.detail.title">Return Transaction</span> {{returnTransaction.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhiptokomajuApp.returnTransaction.created_date">Created Date</span></dt>
                <dd>
                    <span>{{returnTransaction.created_date}}</span>
                </dd>
                <dt><span jhiTranslate="jhiptokomajuApp.returnTransaction.transactionType">Transaction Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'jhiptokomajuApp.TransactionType.' + returnTransaction.transactionType}}">{{returnTransaction.transactionType}}</span>
                </dd>
                <dt><span jhiTranslate="jhiptokomajuApp.returnTransaction.totalPriceReturn">Total Price Return</span></dt>
                <dd>
                    <span>{{returnTransaction.totalPriceReturn}}</span>
                </dd>
                <dt><span jhiTranslate="jhiptokomajuApp.returnTransaction.noTransaction">No Transaction</span></dt>
                <dd>
                    <span>{{returnTransaction.noTransaction}}</span>
                </dd>
                <dt><span jhiTranslate="jhiptokomajuApp.returnTransaction.creator">Creator</span></dt>
                <dd>
                    {{returnTransaction.creatorLogin}}
                </dd>
                <dt><span jhiTranslate="jhiptokomajuApp.returnTransaction.customer">Customer</span></dt>
                <dd>
                    <div *ngIf="returnTransaction.customerId">
                        <a [routerLink]="['/customer', returnTransaction.customerId, 'view']">{{returnTransaction.customerCode}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhiptokomajuApp.returnTransaction.supplier">Supplier</span></dt>
                <dd>
                    <div *ngIf="returnTransaction.supplierId">
                        <a [routerLink]="['/supplier', returnTransaction.supplierId, 'view']">{{returnTransaction.supplierCode}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/return-transaction', returnTransaction.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
