<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhiptokomajuApp.returnTransaction.home.title">Return Transactions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-return-transaction" [routerLink]="['/return-transaction/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="jhiptokomajuApp.returnTransaction.home.createLabel">
            Create new Return Transaction
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jhiptokomajuApp.returnTransaction.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="returnTransactions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="created_date"><span jhiTranslate="jhiptokomajuApp.returnTransaction.created_date">Created Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="transactionType"><span jhiTranslate="jhiptokomajuApp.returnTransaction.transactionType">Transaction Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="totalPriceReturn"><span jhiTranslate="jhiptokomajuApp.returnTransaction.totalPriceReturn">Total Price Return</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="noTransaction"><span jhiTranslate="jhiptokomajuApp.returnTransaction.noTransaction">No Transaction</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cashReturned"><span jhiTranslate="jhiptokomajuApp.returnTransaction.cashReturned">Cash Returned</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="creatorLogin"><span jhiTranslate="jhiptokomajuApp.returnTransaction.creator">Creator</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="customerCode"><span jhiTranslate="jhiptokomajuApp.returnTransaction.customer">Customer</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="supplierCode"><span jhiTranslate="jhiptokomajuApp.returnTransaction.supplier">Supplier</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let returnTransaction of returnTransactions ;trackBy: trackId">
                <td><a [routerLink]="['/return-transaction', returnTransaction.id, 'view' ]">{{returnTransaction.id}}</a></td>
                <td>{{returnTransaction.created_date | date:'medium'}}</td>
                <td jhiTranslate="{{'jhiptokomajuApp.TransactionType.' + returnTransaction.transactionType}}">{{returnTransaction.transactionType}}</td>
                <td>{{returnTransaction.totalPriceReturn}}</td>
                <td>{{returnTransaction.noTransaction}}</td>
                <td>{{returnTransaction.cashReturned}}</td>
                <td>
                    {{returnTransaction.creatorLogin}}
                </td>
                <td>
                    <div *ngIf="returnTransaction.customerId">
                        <a [routerLink]="['../customer', returnTransaction.customerId , 'view' ]" >{{returnTransaction.customerCode}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="returnTransaction.supplierId">
                        <a [routerLink]="['../supplier', returnTransaction.supplierId , 'view' ]" >{{returnTransaction.supplierCode}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/return-transaction', returnTransaction.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/return-transaction', returnTransaction.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'return-transaction', { outlets: { popup: returnTransaction.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
