<div class="row">
    <div class="col-sm-12 text-right">
        <div class="form-group">
            <!-- <button name="submit" type="submit" class="btn btn-primary">Update My Profile</button> -->
            <a
                jhiTranslate="jhiptokomajuApp.customer.home.search"
                [routerLink]="['/', { outlets: { popup: 'sale/search-customer' } }]"
                replaceUrl="true"
                queryParamsHandling="merge"
                >Cari Customer</a
            >
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group row">
            <label class="col-md-3 col-sm-12 form-control-label" jhiTranslate="jhiptokomajuApp.customer.code" for="field_customerCode"
                >Code</label
            >
            <div class="col-md-9 col-sm-12">
                <input
                    type="text"
                    class="form-control"
                    name="customerCode"
                    id="field_customerCode"
                    [ngModel]="getCustomerCode()"
                    readonly
                />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-sm-12 form-control-label" jhiTranslate="jhiptokomajuApp.customer.fullName" for="field_fullName"
                >Full Name</label
            >
            <div class="col-md-9 col-sm-12">
                <input type="text" class="form-control" name="fullName" id="field_fullName" [ngModel]="getCustomerFullName()" readonly />
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group row">
            <label class="col-md-4 form-control-label" jhiTranslate="jhiptokomajuApp.project.home.title" for="field_project">
                Projects
            </label>
            <div class="col-md-8">
                <select class="form-control" id="field_project" name="project" [(ngModel)]="selectedProjectId" (change)="onChangeProject()">
                    <option [ngValue]="project.id" *ngFor="let project of customerProjects">
                        {{ project.name }}
                    </option>
                </select>
            </div>
        </div>
    </div>
</div>
