<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhiptokomajuApp.returnItem.home.title">Return Items</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-return-item" [routerLink]="['/return-item/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="jhiptokomajuApp.returnItem.home.createLabel">
            Create new Return Item
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jhiptokomajuApp.returnItem.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="returnItems">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="barcode"><span jhiTranslate="jhiptokomajuApp.returnItem.barcode">Barcode</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="productName"><span jhiTranslate="jhiptokomajuApp.returnItem.productName">Product Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="quantity"><span jhiTranslate="jhiptokomajuApp.returnItem.quantity">Quantity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="unitPrice"><span jhiTranslate="jhiptokomajuApp.returnItem.unitPrice">Unit Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="productStatus"><span jhiTranslate="jhiptokomajuApp.returnItem.productStatus">Product Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="productBarcode"><span jhiTranslate="jhiptokomajuApp.returnItem.product">Product</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="returnTransactionId"><span jhiTranslate="jhiptokomajuApp.returnItem.returnTransaction">Return Transaction</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let returnItem of returnItems ;trackBy: trackId">
                <td><a [routerLink]="['/return-item', returnItem.id, 'view' ]">{{returnItem.id}}</a></td>
                <td>{{returnItem.barcode}}</td>
                <td>{{returnItem.productName}}</td>
                <td>{{returnItem.quantity}}</td>
                <td>{{returnItem.unitPrice}}</td>
                <td jhiTranslate="{{'jhiptokomajuApp.ProductStatus.' + returnItem.productStatus}}">{{returnItem.productStatus}}</td>
                <td>
                    <div *ngIf="returnItem.productId">
                        <a [routerLink]="['../product', returnItem.productId , 'view' ]" >{{returnItem.productBarcode}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="returnItem.returnTransactionId">
                        <a [routerLink]="['../return-transaction', returnItem.returnTransactionId , 'view' ]" >{{returnItem.returnTransactionId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/return-item', returnItem.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/return-item', returnItem.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'return-item', { outlets: { popup: returnItem.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
