<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="supplier">
            <h2><span jhiTranslate="jhiptokomajuApp.supplier.detail.title">Supplier</span> {{supplier.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhiptokomajuApp.supplier.name">Name</span></dt>
                <dd>
                    <span>{{supplier.name}}</span>
                </dd>
                <dt><span jhiTranslate="jhiptokomajuApp.supplier.code">Code</span></dt>
                <dd>
                    <span>{{supplier.code}}</span>
                </dd>
                <dt><span jhiTranslate="jhiptokomajuApp.supplier.address">Address</span></dt>
                <dd>
                    <span>{{supplier.address}}</span>
                </dd>
                <dt><span jhiTranslate="jhiptokomajuApp.supplier.noTelp">No Telp</span></dt>
                <dd>
                    <span>{{supplier.noTelp}}</span>
                </dd>
                <dt><span jhiTranslate="jhiptokomajuApp.supplier.bankAccount">Bank Account</span></dt>
                <dd>
                    <span>{{supplier.bankAccount}}</span>
                </dd>
                <dt><span jhiTranslate="jhiptokomajuApp.supplier.bankName">Bank Name</span></dt>
                <dd>
                    <span>{{supplier.bankName}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/supplier', supplier.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
