<div class="row">
    <div class="col-12">
        <jhi-alert></jhi-alert>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="box box-widget widget-user">
                    <div class="widget-user-header bg-aqua-active">
                        <h3 class="widget-user-username">{{ customer.firstName }} {{ customer.lastName }}</h3>
                        <h5 class="widget-user-desc">{{ customer.address }}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="info-box bg-green">
                    <span class="info-box-icon "><fa-icon [icon]="'pencil-alt'"></fa-icon></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Total Invoice</span>
                        <span class="info-box-number">{{ invoiceCount }}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="info-box bg-aqua">
                    <span class="info-box-icon"><fa-icon [icon]="'shopping-cart'"></fa-icon></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Total Buy</span>
                        <span class="info-box-number">{{ totalBuy }}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="info-box bg-navy">
                    <span class="info-box-icon"><fa-icon [icon]="'th-list'"></fa-icon></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Project</span>
                        <span class="info-box-number">{{ totalProject }}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="info-box bg-yellow">
                    <span class="info-box-icon"><fa-icon [icon]="'star'"></fa-icon></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Total Product</span>
                        <span class="info-box-number">{{ productCount }}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mt-2">
        <ngb-tabset type="pills">
            <ngb-tab title="Project">
                <ng-template ngbTabContent>
                    <jhi-customer-project
                        [customer-in]="customer"
                        (countProject)="project($event)"
                        [project-in]="projects"
                    ></jhi-customer-project>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Products">
                <ng-template ngbTabContent>
                    <jhi-customer-product
                        [customer-in]="customer"
                        [products-in]="customerProducts"
                        (product-evt)="product($event)"
                    ></jhi-customer-product>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Invoice">
                <ng-template ngbTabContent>
                    <jhi-customer-invoice [customer-in]="customer" [invoice-in]="invoices"></jhi-customer-invoice>
                    <!-- (countSale)="invoice($event)" -->
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>
