<div class="row">
    <div class="col-sm-12">
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-project" [routerLink]="['/project/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span jhiTranslate="jhiptokomajuApp.project.home.createLabel">Create new Project</span>
        </button>
    </div>
    <div class="col-sm-12">
        <div class="table-responsive mt-3">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><span jhiTranslate="global.field.no">No</span></th>
                        <th><span>Code</span></th>
                        <th><span>Name</span></th>
                        <th><span>Address</span></th>
                        <th><span>Created at</span></th>
                        <th><span>Invoices</span></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
