<div class="row">
    <div class="col-sm-12">
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-project" [routerLink]="['/project/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span jhiTranslate="jhiptokomajuApp.project.home.createLabel">Create new Project</span>
        </button>
    </div>
    <div class="col-sm-12">
        <div class="table-responsive mt-3">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><span jhiTranslate="global.field.no">No</span></th>
                        <th><span jhiTranslate="jhiptokomajuApp.project.code">Code</span></th>
                        <th><span jhiTranslate="jhiptokomajuApp.project.name">Name</span></th>
                        <th><span jhiTranslate="jhiptokomajuApp.project.city">City</span></th>
                        <th><span jhiTranslate="global.field.createdDate">Created Date</span></th>
                        <th><span jhiTranslate="global.field.creator">Creator</span></th>
                        <th><span>Invoices</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let project of projects; trackBy: trackId; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ project.code }}</td>
                        <td>{{ project.name }}</td>
                        <td>{{ project.city }}</td>
                        <td>{{ project.createdDate | date: 'short' }}</td>
                        <td>{{ project.creatorLogin }}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
