<div>
    <div class="row">
        <div class="col-sm-8">
            <h2 id="page-heading">
                <span jhiTranslate="jhiptokomajuApp.customerProduct.home.title">Customer Products</span>
            </h2>
        </div>
        <div class="col-sm-4">
            <button
                id="jh-create-entity"
                class="btn btn-primary float-right jh-create-entity create-customer-product"
                [ngbTooltip]="addTooltip"
                placement="bottom"
                [routerLink]="['/customer', customer.id, 'add-products']"
            >
                <fa-icon [icon]="'plus'"></fa-icon>
                <ng-template #addTooltip>
                    <span jhiTranslate="jhiptokomajuApp.customerProduct.home.createLabel">Create new Customer Product</span>
                </ng-template>
                <!--  <span class="hidden-sm-down" jhiTranslate="jhiptokomajuApp.customerProduct.home.createLabel">
                    Create new Customer Product
                </span> -->
            </button>
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mr-1">
                    <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="currentSearch"
                        id="currentSearch"
                        name="currentSearch"
                        placeholder="{{ 'jhiptokomajuApp.customerProduct.home.search' | translate }}"
                    />
                    <!-- <button class="input-group-append btn btn-info" (click)="search(currentSearch)"> -->
                    <button class="input-group-append btn btn-info">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12"></div>
    </div>
    <br />
    <div class="table-responsive" *ngIf="customerProducts">
        <!-- <form name="editForm" role="form" novalidate (ngSubmit)="save(editForm)" #editForm="ngForm"> -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><span jhiTranslate="global.field.no">No</span></th>
                    <th><span jhiTranslate="jhiptokomajuApp.customerProduct.barcode">Barcode</span></th>
                    <th><span jhiTranslate="jhiptokomajuApp.customerProduct.product">Product Name</span></th>
                    <th><span jhiTranslate="jhiptokomajuApp.customerProduct.unit">Unit</span></th>
                    <th><span jhiTranslate="jhiptokomajuApp.customerProduct.unitPrices">Unit Price</span></th>
                    <th><span jhiTranslate="jhiptokomajuApp.customerProduct.sellingPrices">Selling Price</span></th>
                    <th><span jhiTranslate="jhiptokomajuApp.customerProduct.specialPrice">Special Price</span></th>
                    <th>
                        <div>
                            <button type="button" id="save-entity" class="btn btn-primary btn-sm float-right" (click)="onSaveAll()">
                                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.saveAll">Save All</span>
                            </button>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customerProduct of customerProducts; trackBy: trackId; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ customerProduct.barcode }}</td>
                    <td>{{ customerProduct.productName }}</td>
                    <td>{{ customerProduct.unit }}</td>
                    <td>{{ customerProduct.unitPrices }}</td>
                    <td>{{ customerProduct.sellingPrices }}</td>
                    <td>
                        <input
                            type="number"
                            class="form-control form-control-sm"
                            name="specialPrice"
                            id="field_specialPrice"
                            [(ngModel)]="customerProduct.specialPrice"
                            required
                            min="0"
                            jhiMin="0"
                        />
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="button" class="btn btn-outline-primary btn-sm" (click)="saveCustomerProduct(customerProduct)">
                                <fa-icon [icon]="'plus'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.save">Save</span>
                            </button>
                            <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteCustomerProduct(customerProduct.id)">
                                <fa-icon [icon]="'trash-alt'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
