<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhiptokomajuApp.duePayment.home.search">Due Payments</span>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-md-5">
            <div class="input-group  w-100 mt-3">
                <input type="date" class="form-control" name="start" [(ngModel)]="fromDate" required />
                <input type="date" class="form-control ml-1" name="end" [(ngModel)]="endDate" required />
                <button class="input-group-append btn btn-info" (click)="search()">
                    <fa-icon [icon]="'search'"></fa-icon>
                </button>
            </div>
        </div>
    </div>
    <br />
    <form name="paymentForm" role="form" #paymentForm="ngForm">
        <div class="table-responsive" *ngIf="duePayments">
            <table class="table table-striped">
                <thead>
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                        <!-- <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
                        <th style="width: 15%" jhiSortBy="saleNoInvoice">
                            <span jhiTranslate="jhiptokomajuApp.duePayment.sale">Sale</span> <fa-icon [icon]="'sort'"></fa-icon>
                        </th>
                        <th style="width: 15%" jhiSortBy="createdDate">
                            <span jhiTranslate="jhiptokomajuApp.duePayment.createdDate">Created Date</span>
                            <fa-icon [icon]="'sort'"></fa-icon>
                        </th>
                        <th style="width: 15%" jhiSortBy="customerFullName">
                            <span jhiTranslate="jhiptokomajuApp.duePayment.customer">Customer</span> <fa-icon [icon]="'sort'"></fa-icon>
                        </th>
                        <th style="width: 15%" jhiSortBy="totalPayment">
                            <span jhiTranslate="jhiptokomajuApp.duePayment.totalPayment">Total Payment</span>
                            <fa-icon [icon]="'sort'"></fa-icon>
                        </th>
                        <th style="width: 15%" jhiSortBy="remainingPayment">
                            <span jhiTranslate="jhiptokomajuApp.duePayment.remainingPayment">Remaining Payment</span>
                            <fa-icon [icon]="'sort'"></fa-icon>
                        </th>
                        <th style="width: 15%">
                            <span jhiTranslate="jhiptokomajuApp.duePayment.paid">Paid</span>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody
                    infinite-scroll
                    (scrolled)="loadPage(page + 1)"
                    [infiniteScrollDisabled]="page >= links['last']"
                    [infiniteScrollDistance]="0"
                >
                    <tr *ngFor="let duePayment of duePayments; trackBy: trackId; let i = index">
                        <td>
                            <div *ngIf="duePayment.saleId">
                                <a (click)="viewSaleDetail(duePayment.saleId)">
                                    {{ duePayment.saleNoInvoice }}
                                </a>
                            </div>
                        </td>
                        <td>{{ duePayment.createdDate | date: 'medium' }}</td>
                        <td>{{ duePayment.customerFullName }}</td>
                        <td>{{ duePayment.totalPayment | currency: 'IDR':'Rp. ' }}</td>
                        <td>{{ duePayment.saldo | currency: 'IDR':'Rp. ' }}</td>
                        <td>
                            <input
                                type="tel"
                                class="form-control form-control-sm"
                                name="paid{{ duePayment.saleId }}"
                                id="field_paid{{ duePayment.saleId }}"
                                [(ngModel)]="duePayment.paid"
                                [required]="duePayment.isEdit"
                                min="0"
                                jhiMin="0"
                                [max]="duePayment.saldo"
                                [jhiMax]="duePayment.saldo"
                                [options]="{ prefix: '', thousands: '.', precision: 0 }"
                                currencyMask
                                (ngModelChange)="calculateTotalPaid()"
                                [readOnly]="!duePayment.isEdit"
                            />
                            <div
                                [hidden]="
                                    !(
                                        paymentForm.invalid &&
                                        paymentForm.controls['paid' + duePayment.saleId]?.dirty &&
                                        paymentForm.controls['paid' + duePayment.saleId]?.invalid
                                    )
                                "
                            >
                                <small
                                    class="form-text text-danger"
                                    jhiTranslate="entity.validation.min"
                                    [translateValues]="{ min: 0 }"
                                    [hidden]="!paymentForm.controls['paid' + duePayment.saleId]?.errors?.min"
                                >
                                    This field should be at least 0.
                                </small>
                                <small
                                    class="form-text text-danger"
                                    jhiTranslate="entity.validation.max"
                                    [translateValues]="{ max: duePayment.remainingPayment }"
                                    [hidden]="!paymentForm.controls['paid' + duePayment.saleId]?.errors?.max"
                                >
                                    This field should be at least 0.
                                </small>
                            </div>
                        </td>
                        <td class="text-right">
                            <button type="button" class="btn btn-info btn-sm" (click)="changeEdit(duePayment)" [hidden]="duePayment.isEdit">
                                <fa-icon [icon]="'eye'"></fa-icon>
                            </button>
                            <button
                                type="button"
                                class="btn btn-secondary btn-sm"
                                (click)="changeEdit(duePayment)"
                                [hidden]="!duePayment.isEdit"
                            >
                                <fa-icon [icon]="'ban'"></fa-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot *ngIf="duePayments.length > 0">
                    <th colspan="2"></th>
                    <th>Jumlah</th>
                    <th>{{ totalNominal | currency: 'IDR':'Rp. ' }}</th>
                    <th>{{ totalSaldo | currency: 'IDR':'Rp. ' }}</th>
                    <th class="text-right">{{ totalPaid | currency: 'IDR':'Rp. ' }}</th>
                    <td></td>
                </tfoot>
            </table>
        </div>
        <div class="row" *ngIf="duePayments.length > 0">
            <div class="col-md-12">
                <div class="text-right">
                    <button
                        type="button"
                        class="btn btn-sm btn-success"
                        [disabled]="totalPaid <= 0 || paymentForm.invalid"
                        (click)="save()"
                    >
                        <span jhiTranslate="entity.action.process">Process</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
    <!-- <jhi-detail></jhi-detail> -->

</div>
