<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-due-payment-heading" jhiTranslate="jhiptokomajuApp.duePayment.home.createOrEditLabel">Create or edit a Due Payment</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!duePayment.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="duePayment.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhiptokomajuApp.duePayment.remainingPayment" for="field_remainingPayment">Remaining Payment</label>
                    <input type="number" class="form-control" name="remainingPayment" id="field_remainingPayment"
                        [(ngModel)]="duePayment.remainingPayment" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhiptokomajuApp.duePayment.createdDate" for="field_createdDate">Created Date</label>
                    <div class="d-flex">
                        <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" [(ngModel)]="createdDate" placeholder="YYYY-MM-DD HH:mm"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.createdDate?.dirty && editForm.controls.createdDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.createdDate?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.createdDate?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhiptokomajuApp.duePayment.settled" for="field_settled">Settled</label>
                    <input type="checkbox" class="form-control" name="settled" id="field_settled"
                        [(ngModel)]="duePayment.settled" />
                    <div [hidden]="!(editForm.controls.settled?.dirty && editForm.controls.settled?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.settled?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhiptokomajuApp.duePayment.paid" for="field_paid">Paid</label>
                    <input type="number" class="form-control" name="paid" id="field_paid"
                        [(ngModel)]="duePayment.paid" required min="0" jhiMin="0"/>
                    <div [hidden]="!(editForm.controls.paid?.dirty && editForm.controls.paid?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.paid?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.paid?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.paid?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhiptokomajuApp.duePayment.creator" for="field_creator">Creator</label>
                    <select class="form-control" id="field_creator" name="creator" [(ngModel)]="duePayment.creatorId"  required>
                        <option *ngIf="!editForm.value.creator" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.creator?.dirty && editForm.controls.creator?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.creator?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhiptokomajuApp.duePayment.sale" for="field_sale">Sale</label>
                    <select class="form-control" id="field_sale" name="sale" [(ngModel)]="duePayment.saleId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="saleTransactionsOption.id" *ngFor="let saleTransactionsOption of saletransactions; trackBy: trackSaleTransactionsById">{{saleTransactionsOption.noInvoice}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
