<jhi-alert></jhi-alert>
<div class="row justify-content-start">
    <div class="col-sm-8">
        <!-- start cashierForm -->
        <jhi-customer-box
            [sale]="saleTransactions"
            [project]="selectedProjectId"
            (projectChange)="projectChange($event)"
        ></jhi-customer-box>
        <br />
        <jhi-item-box
            [sale]="saleTransactions"
            [customer]="customer"
            [project]="selectedProjectId"
            (projectChange)="projectChange($event)"
        ></jhi-item-box>
        <!-- end cashierForm -->
    </div>
    <div class="col-sm-4">
        <jhi-product-box [sale]="saleTransactions"></jhi-product-box>
    </div>
</div>
