<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="invoice">
            <h2><span jhiTranslate="jhiptokomajuApp.invoice.detail.title">Invoice</span> {{invoice.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhiptokomajuApp.invoice.noInvoice">No Invoice</span></dt>
                <dd>
                    <span>{{invoice.noInvoice}}</span>
                </dd>
                <dt><span jhiTranslate="jhiptokomajuApp.invoice.customer">Customer</span></dt>
                <dd>
                    <span>{{invoice.customer}}</span>
                </dd>
                <dt><span jhiTranslate="jhiptokomajuApp.invoice.totalPayment">Total Payment</span></dt>
                <dd>
                    <span>{{invoice.totalPayment}}</span>
                </dd>
                <dt><span jhiTranslate="jhiptokomajuApp.invoice.remainingPayment">Remaining Payment</span></dt>
                <dd>
                    <span>{{invoice.remainingPayment}}</span>
                </dd>
                <dt><span jhiTranslate="jhiptokomajuApp.invoice.paid">Paid</span></dt>
                <dd>
                    <span>{{invoice.paid}}</span>
                </dd>
                <dt><span jhiTranslate="jhiptokomajuApp.invoice.saleDate">Sale Date</span></dt>
                <dd>
                    <span>{{invoice.saleDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/invoice', invoice.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
