<div class="row">
    <div class="col-md-12">
        <form name="searchForm">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <!-- invoice -->
                        <div class="input-group mb-2">
                            <input
                                type="text"
                                class="form-control"
                                [(ngModel)]="searchCriteria.noInvoice"
                                id="searchInvoice"
                                name="searchInvoice"
                                placeholder="{{ 'jhiptokomajuApp.invoice.home.search' | translate }}"
                            />
                            <button class="input-group-append btn btn-danger" (click)="clearInvoice()" *ngIf="searchCriteria.noInvoice">
                                <fa-icon [icon]="'trash-alt'"></fa-icon>
                            </button>
                        </div>
                        <!-- /invoice -->
                        <!-- customer -->
                        <div class="input-group mb-2">
                            <input
                                type="text"
                                class="form-control"
                                [ngModel]="customerFullName()"
                                id="searchCustomer"
                                name="searchCustomer"
                                readonly
                                placeholder="{{ 'jhiptokomajuApp.customer.home.search' | translate }}"
                            />
                            <button class="input-group-append btn btn-info" (click)="searchCustomer()">
                                <fa-icon [icon]="'search'"></fa-icon>
                            </button>
                            <button class="input-group-append btn btn-danger" (click)="clearCustomer()" *ngIf="searchCriteria.customer">
                                <fa-icon [icon]="'trash-alt'"></fa-icon>
                            </button>
                        </div>
                        <!-- /customer -->
                        <!-- sale date -->
                        <div class="input-group mb-2">
                            <input type="date" class="form-control" name="start" [(ngModel)]="fromDate" required />
                            <input type="date" class="form-control ml-1" name="end" [(ngModel)]="endDate" required />
                        </div>
                        <!-- /sale date -->
                    </div>
                    <div class="col-md-4 offset-md-4">
                        <!-- project -->
                        <div class="input-group mb-2">
                            <input
                                type="text"
                                class="form-control"
                                [ngModel]="projectName()"
                                id="searchProject"
                                name="searchProject"
                                readonly
                                placeholder="{{ 'jhiptokomajuApp.project.home.search' | translate }}"
                            />
                            <button class="input-group-append btn btn-info" (click)="searchProject()">
                                <fa-icon [icon]="'search'"></fa-icon>
                            </button>
                            <button class="input-group-append btn btn-danger" (click)="clearProject()" *ngIf="searchCriteria.project">
                                <fa-icon [icon]="'trash-alt'"></fa-icon>
                            </button>
                        </div>
                        <!-- /project -->
                        <!-- status -->
                        <div class="input-group mb-2">
                            <input
                                type="text"
                                class="form-control"
                                [(ngModel)]="status"
                                id="searchStatus"
                                name="searchStatus"
                                placeholder="{{ 'jhiptokomajuApp.invoice.home.status' | translate }}"
                            />
                            <button class="input-group-append btn btn-info">
                                <fa-icon [icon]="'search'"></fa-icon>
                            </button>
                            <button class="input-group-append btn btn-danger" *ngIf="false">
                                <fa-icon [icon]="'trash-alt'"></fa-icon>
                            </button>
                        </div>
                        <!-- /status -->
                        <!-- actions -->
                        <div class="text-right">
                            <div class="btn-group">
                                <button type="button" id="search-invoice" class="btn btn-primary fa-pull-right ml-1" (click)="search()">
                                    <fa-icon [icon]="'search'"></fa-icon>&nbsp;<span jhiTranslate="jhiptokomajuApp.invoice.home.search"
                                        >Search</span
                                    >
                                </button>
                                <button type="button" id="search-invoice" class="btn btn-secondary fa-pull-right ml-1" (click)="clear()">
                                    <fa-icon [icon]="'trash-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.clear">Clear</span>
                                </button>
                            </div>
                        </div>
                        <!-- /actions -->
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
