<div class="row">
    <div class="col-md-12">
        <form name="searchForm">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2 col-sm-12">
                        <label class="form-control-label " jhiTranslate="jhiptokomajuApp.invoice.saleDate" for="field_saleDate"
                            >Start Date</label
                        >
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <input
                            id="field_startDate"
                            type="date"
                            class="form-control"
                            name="startDate"
                            [(ngModel)]="startDate"
                            placeholder="YYYY-MM-DD"
                        />
                    </div>
                    <div class="col-md-2 col-sm-12">
                        <label class="form-control-label " for="field_toDate">To</label>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <input
                            id="field_endDate"
                            type="date"
                            class="form-control"
                            name="endDate"
                            [(ngModel)]="endDate"
                            placeholder="YYYY-MM-DD"
                        />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-right">
                    <div class="btn-group">
                        <button type="button" id="search-invoice" class="btn btn-primary fa-pull-right ml-1" (click)="searchInvoice()">
                            <fa-icon [icon]="'search'"></fa-icon>&nbsp;<span jhiTranslate="jhiptokomajuApp.invoice.home.search"
                                >Search</span
                            >
                        </button>
                        <button type="button" id="search-invoice" class="btn btn-secondary fa-pull-right ml-1" (click)="clearInvoice()">
                            <fa-icon [icon]="'trash-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.clear">Clear</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
