<nav class="navbar navbar-dark navbar-expand-md bg-dark">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
        <!-- <span class="logo-img"></span> -->
        <span jhiTranslate="global.title" class="navbar-title">Jhiptokomaju</span>
    </a>
    <a
        class="navbar-toggler d-lg-none"
        href="javascript:void(0);"
        data-toggle="collapse"
        data-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="toggleNavbar()"
    >
        <fa-icon icon="bars"></fa-icon>
    </a>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
                    <span>
                        <fa-icon icon="home"></fa-icon>
                        <span jhiTranslate="global.menu.home">Home</span>
                    </span>
                </a>
            </li>
            <!-- Manage -->
            <li
                *ngSwitchCase="true"
                ngbDropdown
                class="nav-item dropdown pointer"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
            >
                <a
                    *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_SUPERUSER']"
                    class="nav-link dropdown-toggle"
                    ngbDropdownToggle
                    href="javascript:void(0);"
                    id="manage-menu"
                >
                    <span>
                        <fa-icon icon="th-list"></fa-icon>
                        <span>
                            Manages
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="manage-menu">
                    <li>
                        <a
                            class="dropdown-item"
                            routerLink="customer"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()"
                        >
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.customer">Customer</span>
                        </a>
                    </li>
                    <li>
                        <a
                            class="dropdown-item"
                            routerLink="product"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()"
                        >
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.product">Product</span>
                        </a>
                    </li>
                    <li>
                        <a
                            class="dropdown-item"
                            routerLink="supplier"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()"
                        >
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.supplier">Supplier</span>
                        </a>
                    </li>
                    <li>
                        <a
                            class="dropdown-item"
                            routerLink="project"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()"
                        >
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.project">Project</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="['ROLE_SUPERUSER']">
                        <a
                            class="dropdown-item"
                            routerLink="unit"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()"
                        >
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.unit">Unit</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- /Manage -->
            <!-- transaction -->
            <li
                *ngSwitchCase="true"
                ngbDropdown
                class="nav-item dropdown pointer"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
            >
                <a
                    *jhiHasAnyAuthority="['ROLE_CASHIER', 'ROLE_ADMIN', 'ROLE_SUPERUSER']"
                    class="nav-link dropdown-toggle"
                    ngbDropdownToggle
                    href="javascript:void(0);"
                    id="transaction-menu"
                >
                    <span>
                        <fa-icon icon="th-list"></fa-icon>
                        <span>
                            Transaction
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="transaction-menu">
                    <li>
                        <a
                            class="dropdown-item"
                            routerLink="sale"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()"
                        >
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.saleTransactions">Sale Transactions</span>
                        </a>
                    </li>
                    <li>
                        <a
                            class="dropdown-item"
                            routerLink="due-payment"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()"
                        >
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.duePayment">Due Payment</span>
                        </a>
                    </li>
                    <li>
                        <a
                            class="dropdown-item"
                            routerLink="return-toko"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()"
                        >
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.returnToko">Return Toko</span>
                        </a>
                    </li>
                    <li>
                        <a
                            class="dropdown-item"
                            routerLink="return-supplier"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()"
                        >
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.returnSupplier">Return Supplier</span>
                        </a>
                    </li>
                    <li>
                        <a
                            class="dropdown-item"
                            routerLink="invoice"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()"
                        >
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.invoice">Invoice</span>
                        </a>
                    </li>
                    <!-- <li>
                        <a
                            class="dropdown-item"
                            routerLink="cancel-transaction"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()"
                        >
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.cancelTransaction">Cancel Transaction</span>
                        </a>
                    </li> -->
                </ul>
            </li>
            <!-- /transaction -->
            <!-- Inventory -->
            <li
                *ngSwitchCase="true"
                ngbDropdown
                class="nav-item dropdown pointer"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
            >
                <a
                    *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_SUPERUSER']"
                    class="nav-link dropdown-toggle"
                    ngbDropdownToggle
                    href="javascript:void(0);"
                    id="inventory-menu"
                >
                    <span>
                        <fa-icon icon="th-list"></fa-icon>
                        <span>
                            Inventory
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="inventory-menu">
                    <li>
                        <a
                            class="dropdown-item"
                            routerLink="product-stock"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()"
                        >
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.productStock">Product Stock</span>
                        </a>
                    </li>
                    <li>
                        <a
                            class="dropdown-item"
                            routerLink="supplier-stock"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()"
                        >
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.supplierStock">Supplier Stock</span>
                        </a>
                    </li>
                    <li>
                        <a
                            class="dropdown-item"
                            routerLink="product/extract"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()"
                        >
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.extractProduct">Extract Product</span>
                        </a>
                    </li>
                    <li>
                        <a
                            *jhiHasAnyAuthority="['ROLE_ADMIN']"
                            class="dropdown-item"
                            routerLink="product/import"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()"
                        >
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.importProduct">Import Product</span>
                        </a>
                    </li>
                    <li>
                        <a
                            class="dropdown-item"
                            routerLink="stock-order/input"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()"
                        >
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.stockOrderInput">Input Stock Order</span>
                        </a>
                    </li>
                    <li>
                        <a
                            class="dropdown-item"
                            routerLink="stock-order/process"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()"
                        >
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.stockOrderProcess">Process Stock Order</span>
                        </a>
                    </li>
                    <li>
                        <a
                            class="dropdown-item"
                            routerLink="stock-order/receive"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()"
                        >
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.stockOrderReceive">Receive Stock Order</span>
                        </a>
                    </li>
                    <li>
                        <a
                            class="dropdown-item"
                            routerLink="purchase"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()"
                        >
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.purchase">Purchase</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- /Inventory -->
            <!-- report -->
            <li
                *ngSwitchCase="true"
                ngbDropdown
                class="nav-item dropdown pointer"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
            >
                <a
                    *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_SUPERUSER', 'ROLE_CASHIER']"
                    class="nav-link dropdown-toggle"
                    ngbDropdownToggle
                    href="javascript:void(0);"
                    id="report-menu"
                >
                    <span>
                        <fa-icon icon="th-list"></fa-icon>
                        <span>
                            Report
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="report-menu">
                    <li>
                        <a
                            class="dropdown-item"
                            routerLink="sale-report/detail"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()"
                        >
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.saleReportDetail">Sale Report Detail</span>
                        </a>
                    </li>
                    <li>
                        <a
                            class="dropdown-item"
                            routerLink="sale-report/customer"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()"
                        >
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.saleReportCustomer">Sale Report Customer</span>
                        </a>
                    </li>
                    <li>
                        <a
                            class="dropdown-item"
                            routerLink="sale-report/product"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()"
                        >
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.saleReportProduct">Sale Report Product</span>
                        </a>
                    </li>
                    <li>
                        <a
                            class="dropdown-item"
                            routerLink="report/payment"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()"
                        >
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.reportPayment">Report Payment</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="['ROLE_SUPERUSER']">
                        <a
                            class="dropdown-item"
                            routerLink="gerai/overview"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()"
                        >
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.geraiOverview">Gerai Overview</span>
                        </a>
                    </li>
                    <!-- <li>
                        <a
                            class="dropdown-item"
                            routerLink="report/stock-order"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()"
                        >
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.reportStockOrder">Report Stock Order</span>
                        </a>
                    </li> -->
                </ul>
            </li>
            <!-- /report -->
            <!-- Gerai -->
            <li
                *ngSwitchCase="true"
                ngbDropdown
                class="nav-item dropdown pointer"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
            >
                <a
                    *jhiHasAnyAuthority="['ROLE_SUPERUSER']"
                    class="nav-link dropdown-toggle"
                    ngbDropdownToggle
                    href="javascript:void(0);"
                    id="report-menu"
                >
                    <span>
                        <fa-icon icon="th-list"></fa-icon>
                        <span>
                            Gerai
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="gerai-menu">
                    <li>
                        <a
                            class="dropdown-item"
                            routerLink="gerai"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()"
                        >
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.gerai">Gerai</span>
                        </a>
                    </li>
                    <li>
                        <a
                            class="dropdown-item"
                            routerLink="gerai-config"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()"
                        >
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.geraiConfig">Gerai Config</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- /Gerai -->
            <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
            <li
                *ngSwitchCase="true"
                ngbDropdown
                class="nav-item dropdown pointer"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
            >
                <a *ngIf="false" class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
                    <span>
                        <fa-icon icon="th-list"></fa-icon>
                        <span jhiTranslate="global.menu.entities.main">
                            Entities
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
                    <li>
                        <a
                            class="dropdown-item"
                            routerLink="stock-order"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()"
                        >
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.stockOrder">Stock Order</span>
                        </a>
                    </li>
                    <li>
                        <a
                            class="dropdown-item"
                            routerLink="purchase-list"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()"
                        >
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.purchaseList">Purchase List</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                </ul>
            </li>
            <li
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                ngbDropdown
                class="nav-item dropdown pointer"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
            >
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                    <span>
                        <fa-icon icon="user-plus"></fa-icon>
                        <span jhiTranslate="global.menu.admin.main">Administration</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
                    <li>
                        <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="user" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.userManagement">User management</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/jhi-metrics" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="tachometer-alt" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/jhi-health" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="heart" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.health">Health</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/jhi-configuration" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="list" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/audits" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="bell" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.audits">Audits</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="tasks" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.logs">Logs</span>
                        </a>
                    </li>
                    <li *ngIf="swaggerEnabled">
                        <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="book" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.apidocs">API</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                    <li *ngIf="!inProduction">
                        <a class="dropdown-item" href="./h2-console" target="_tab" (click)="collapseNavbar()">
                            <fa-icon icon="hdd" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.database">Database</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" *ngIf="languages && languages.length > 1">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown">
                    <span>
                        <fa-icon icon="flag"></fa-icon>
                        <span jhiTranslate="global.menu.language">Language</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="languagesnavBarDropdown">
                    <li *ngFor="let language of languages">
                        <a
                            class="dropdown-item"
                            [jhiActiveMenu]="language"
                            href="javascript:void(0);"
                            (click)="changeLanguage(language); collapseNavbar()"
                            >{{ language | findLanguageFromKey }}</a
                        >
                    </li>
                </ul>
            </li>
            <li
                ngbDropdown
                class="nav-item dropdown pointer"
                placement="bottom-right"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
            >
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                    <span *ngIf="!getImageUrl()">
                        <fa-icon icon="user"></fa-icon>
                        <span jhiTranslate="global.menu.account.main">
                            Account
                        </span>
                    </span>
                    <span *ngIf="getImageUrl()">
                        <img [src]="getImageUrl()" class="profile-image rounded-circle" alt="Avatar" />
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="settings" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="wrench" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.settings">Settings</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="password" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="clock" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.password">Password</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" (click)="logout()" id="logout">
                            <fa-icon icon="sign-out-alt" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.logout">Sign out</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" (click)="login()" id="login">
                            <fa-icon icon="sign-in-alt" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.login">Sign in</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" routerLink="register" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="user-plus" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.register">Register</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
