<div>
    <div class="row justify-content-center">
        <div class="col-sm-5">
            <div class="row p-2">
                <div class="col-sm-12 text-center">
                    <h1 class="font-weight-bold mb-1">Toko Maju</h1>
                    <h3 class="font-weight-bold">Purworejo</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-left">
                    <span>
                        Tanggal: <span class="font-weight-bold"> {{ saleTransaction.saleDate | date: 'medium' }}</span>
                    </span>
                    <span *ngIf="saleTransaction.projectId">
                        Project: <span class="font-weight-bold"> {{ saleTransaction.projectName }}</span>
                    </span>
                    <hr />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div *ngFor="let item of items; let i = index">
                        <span>{{ i + 1 }}. {{ item.productName }}</span>
                        <div class="clearfix">
                            <span class="float-left">{{ item.quantity }}x{{ item.sellingPrice | currency: 'IDR':'Rp. ' }}= </span>
                            <span class="float-right">{{ item.totalPrice | currency: 'IDR':'Rp. ' }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-12">
                    <h5 class="font-weight-bold">
                        <div class="clearfix">
                            <span class="float-left">Total</span>
                            <span class="float-right">{{ saleTransaction.totalPayment | currency: 'IDR':'Rp. ' }}</span>
                        </div>
                    </h5>
                    <h5 class="font-weight-normal">
                        <div class="clearfix">
                            <span class="float-left">Discont</span>
                            <span class="float-right">{{ saleTransaction.discount | currency: 'IDR':'Rp. ' }}</span>
                        </div>
                    </h5>
                    <h5 class="font-weight-normal">
                        <div class="clearfix">
                            <span class="float-left">Dibayar</span>
                            <span class="float-right">{{ saleTransaction.paid | currency: 'IDR':'Rp. ' }}</span>
                        </div>
                    </h5>
                    <h5 class="font-weight-normal">
                        <div class="clearfix">
                            <span class="float-left">Sisa Pembayaran</span>
                            <span class="float-right">{{ saleTransaction.remainingPayment | currency: 'IDR':'Rp. ' }}</span>
                        </div>
                    </h5>
                </div>
            </div>
            <div class="row col-sm-12">
                <h4 class="font-weight-normal">
                    <div class="text-center">
                        <span>Terima Kasih Atas Kunjungan Anda </span>
                    </div>
                </h4>
            </div>
        </div>
    </div>
</div>
