<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-cancel-transaction-heading" jhiTranslate="jhiptokomajuApp.cancelTransaction.home.createOrEditLabel">Create or edit a Cancel Transaction</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!cancelTransaction.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="cancelTransaction.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhiptokomajuApp.cancelTransaction.noInvoice" for="field_noInvoice">No Invoice</label>
                    <input type="text" class="form-control" name="noInvoice" id="field_noInvoice"
                        [(ngModel)]="cancelTransaction.noInvoice" required/>
                    <div [hidden]="!(editForm.controls.noInvoice?.dirty && editForm.controls.noInvoice?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.noInvoice?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhiptokomajuApp.cancelTransaction.cancelDate" for="field_cancelDate">Cancel Date</label>
                    <div class="d-flex">
                        <input id="field_cancelDate" type="datetime-local" class="form-control" name="cancelDate" [(ngModel)]="cancelDate" placeholder="YYYY-MM-DD HH:mm"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.cancelDate?.dirty && editForm.controls.cancelDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.cancelDate?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.cancelDate?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhiptokomajuApp.cancelTransaction.note" for="field_note">Note</label>
                    <input type="text" class="form-control" name="note" id="field_note"
                        [(ngModel)]="cancelTransaction.note" required/>
                    <div [hidden]="!(editForm.controls.note?.dirty && editForm.controls.note?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.note?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhiptokomajuApp.cancelTransaction.saleTransactions" for="field_saleTransactions">Sale Transactions</label>
                    <select class="form-control" id="field_saleTransactions" name="saleTransactions" [(ngModel)]="cancelTransaction.saleTransactionsId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="saleTransactionsOption.id" *ngFor="let saleTransactionsOption of saletransactions; trackBy: trackSaleTransactionsById">{{saleTransactionsOption.noInvoice}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
