<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cancelTransaction">
            <h2><span jhiTranslate="jhiptokomajuApp.cancelTransaction.detail.title">Cancel Transaction</span> {{cancelTransaction.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhiptokomajuApp.cancelTransaction.noInvoice">No Invoice</span></dt>
                <dd>
                    <span>{{cancelTransaction.noInvoice}}</span>
                </dd>
                <dt><span jhiTranslate="jhiptokomajuApp.cancelTransaction.cancelDate">Cancel Date</span></dt>
                <dd>
                    <span>{{cancelTransaction.cancelDate}}</span>
                </dd>
                <dt><span jhiTranslate="jhiptokomajuApp.cancelTransaction.note">Note</span></dt>
                <dd>
                    <span>{{cancelTransaction.note}}</span>
                </dd>
                <dt><span jhiTranslate="jhiptokomajuApp.cancelTransaction.noCancelInvoice">No Cancel Invoice</span></dt>
                <dd>
                    <span>{{cancelTransaction.noCancelInvoice}}</span>
                </dd>
                <dt><span jhiTranslate="jhiptokomajuApp.cancelTransaction.saleTransactions">Sale Transactions</span></dt>
                <dd>
                    <div *ngIf="cancelTransaction.saleTransactionsId">
                        <a [routerLink]="['/sale-transactions', cancelTransaction.saleTransactionsId, 'view']">{{cancelTransaction.saleTransactionsNoInvoice}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cancel-transaction', cancelTransaction.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
