<div class="row">
    <div class="col-sm-12 text-right">
        <div class="form-group">
            <!-- <button type="button" class="btn btn-sm btn-link" ></button> -->
            <a jhiTranslate="jhiptokomajuApp.supplier.home.search" (click)="searchSupplier()">Cari Supplier</a>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group row">
            <label
                class="col-md-3 col-sm-12 form-control-label col-form-label-sm"
                jhiTranslate="jhiptokomajuApp.supplier.code"
                for="field_code"
                >Code</label
            >
            <div class="col-md-9 col-sm-12">
                <input type="text" class="form-control form-control-sm" name="code" id="field_code" [ngModel]="supplier?.code" readonly />
            </div>
        </div>
        <div class="form-group row">
            <label
                class="col-md-3 col-sm-12 form-control-label col-form-label-sm"
                jhiTranslate="jhiptokomajuApp.supplier.name"
                for="field_name"
            >
                Name</label
            >
            <div class="col-md-9 col-sm-12">
                <input type="text" class="form-control form-control-sm" name="name" id="field_name" [ngModel]="supplier?.name" readonly />
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group row">
            <label
                class="col-md-4 form-control-label col-form-label-sm"
                jhiTranslate="jhiptokomajuApp.customer.address"
                for="field_address"
            >
                Address
            </label>
            <div class="col-md-8">
                <textarea
                    class="form-control form-control-sm"
                    id="field_address"
                    name="address"
                    [ngModel]="supplier?.address"
                    readonly
                ></textarea>
            </div>
        </div>
    </div>
</div>
