<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="customerProduct">
            <h2><span jhiTranslate="jhiptokomajuApp.customerProduct.detail.title">Customer Product</span> {{customerProduct.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhiptokomajuApp.customerProduct.specialPrice">Special Price</span></dt>
                <dd>
                    <span>{{customerProduct.specialPrice}}</span>
                </dd>
                <dt><span jhiTranslate="jhiptokomajuApp.customerProduct.customer">Customer</span></dt>
                <dd>
                    <div *ngIf="customerProduct.customer">
                        <a [routerLink]="['/customer', customerProduct.customer?.id, 'view']">{{customerProduct.customer?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/customer-product', customerProduct.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
